{% extends 'base.html.twig' %}

{% block title %}Journal de Maman - Les documents{% endblock %}

{% block body %}
    <div class="col-12">
    <h1 class="m-3">Les documents en ligne</h1>
        <div class="row justify-content-left m-2">
    
            {% for document in documents | sort((a, b) => a.article.jour <=> b.article.jour) %}
                <div class="text-center">
                    {% set extension = document.file|split('.')|last %}
                    {% if extension == "pdf" %}
                        <a href="{{ path('documents_show', {'id': document.id, 'pdf': 'pdf'}) }}">
                            <img src="{{ asset('images/pdf.png') }}" alt="Document du journal" class="miniature" />
                        </a>
                    {% else %}
                        <a href="{{ path('documents_show', {'id': document.id}) }}">
                            <img src="{{ asset('documents/' ~ document.file) }}" alt="Document du journal" class="miniature" />
                        </a>
                    {% endif %}
                    
                    <br>
                    {{ document.article.jour ? document.article.jour|date('d/m/Y') : '' }}<br>

                </div>
            {% else %}
                <p>Aucun document actuellement</p>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
