{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
    <h1>Documents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>File</th>
                <th>Article</th>
                <th>Date</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.file }}</td>
                <td>{{ document.article.id }}</td>
                <td>{{ document.date ? document.date|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ document.poster.id }}</td>
                <td>
                    <a href="{{ path('documents_show', {'id': document.id}) }}">show</a>
                    <a href="{{ path('documents_edit', {'id': document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
