{% extends 'base.html.twig' %}

{% block title %}Détail d'un document{% endblock %}

{% block body %}
        <div class="text-center pt-4">
        {% set article = document.article %}
        <a href="{{ path('articles_show', {'id': document.article.id }) }}" class="btn btn-success">
            {{ trans_day_hash[article.jour|date('l')] }}
            {{ article.jour ? article.jour|date('j') : '' }}
            {{ trans_month_hash[article.jour|date('F')] }}
            {{ article.jour ? article.jour|date('Y') : '' }}
        </a>
    </div>
    <div class="text-center pt-4">
        <img src="{{ asset('documents/' ~ document.file) }}" alt="Document du journal" class="big-image" />
    </div>
    <div class="text-center pt-4">
        Posté par {{document.poster.firstname }} le {{ document.date ? document.date|date('d/m/Y') : '' }}</td>
    </div>
    <div class="text-center pt-4">
        <a href="{{ path('articles_show', {'id': document.article.id }) }}" class="btn btn-success">
            {{ trans_day_hash[article.jour|date('l')] }}
            {{ article.jour ? article.jour|date('j') : '' }}
            {{ trans_month_hash[article.jour|date('F')] }}
            {{ article.jour ? article.jour|date('Y') : '' }}
        </a>

        {% if document.poster == app.user %}
            {{ include('documents/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
