{{ form_start(form) }}
<div class="row p-3">
    <div class="offset-2 col-3 text-right marker">
        {{ form_label(form.titre) }}
    </div>
    <div class="col-5 lead">
        {{ form_widget(form.titre) }}
    </div>
</div>
<div class="row p-3">
    <div class="offset-2 col-3 text-right marker">
        {{ form_label(form.datedebut) }}
    </div>
    <div class="col-5 lead">
        {{ form_widget(form.datedebut) }}
    </div>
</div>
<div class="row p-3">
    <div class="offset-2 col-3 text-right marker">
        {{ form_label(form.datefin) }}
    </div>
    <div class="col-5 lead">
        {{ form_widget(form.datefin) }}
    </div>
</div>
<div class="row p-3">
    <div class="offset-2 col-3 text-right marker">
        {{ form_label(form.couleur) }}
    </div>
    <div class="col-5 lead">
        {{ form_widget(form.couleur) }}
    </div>
</div>
<div class="row p-3">
    <div class="offset-2 col-3 text-right marker">
    </div>
    <div class="col-5 lead">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('journaux_index') }}" class="btn btn-dark">Annuler</a>
    </div>
</div>
{{ form_end(form) }}
