{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Journal de Maman - {{ journal.titre }}{% endblock %}

{% block body %}
    <main class="journal">
        <h1 class="p-3 text-center">Journal de Maman - {{ journal.titre }}</h1>

        {% for article in journal.articles|sort((a, b) => a.jour <=> b.jour) %}
            <h2 class="text-center pt-4">
                {{ trans_day_hash[article.jour|date('l')] }}
                {{ article.jour ? article.jour|date('j') : '' }}
                {{ trans_month_hash[article.jour|date('F')] }}
                {{ article.jour ? article.jour|date('Y') : '' }}
            </h2>
            {{ article.contenu  | nl2br }}
        {% endfor %}
        <hr>
        <p class="text-center">Ce journal a été généré en PDF à partir du site privé journal.jejoueenclasse.fr</p></p>
    </main>

{% endblock %}
{% block footer %}{% endblock %}
