{% extends 'base.html.twig' %}

{% block title %}{{ journaux.titre }}{% endblock %}

{% block body %}
    <main class="index">
        <h1 class="p-3">{{ journaux.titre }}</h1>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-presentation">
                        Ce journal commence le {{ journaux.datedebut ? journaux.datedebut|date('d-m-Y') : '' }}
                        et se termine le {{ journaux.datefin ? journaux.datefin|date('d-m-Y') : '' }}
                    </p>
                </div>
            </div>
        </div>
    </main>

    <a href="{{ path('journaux_index') }}">back to list</a>

    <a href="{{ path('journaux_edit', {'id': journaux.id}) }}">edit</a>

    {{ include('journaux/_delete_form.html.twig') }}
{% endblock %}
