{% extends 'base.html.twig' %}

{% block title %}{{ journaux.titre }}{% endblock %}

{% block body %}
    <main class="journal">
        <h1 class="p-3">{{ journaux.titre }}</h1>
        <div class="bureau">
            {% for article in journaux.articles %}
            <a href="{{ path('articles_show', {id: article.id}) }}">
                <div class="ephemeride text-center m-3 p-2">
                    <p>
                        {{ trans_day_hash[article.jour|date('l')] }}
                    </p>
                    <p class="jour-rouge">
                        {{ article.jour ? article.jour|date('d') : '' }}
                    </p>
                    <p>
                        {{ trans_month_hash[article.jour|date('F')] }}
                    </p>
                </div>
            </a>
                {% else %}
                    <h3>Aucune page de ce journal n'a été entrée.</h3>
            {% endfor %}
        </div>
        <div class="row justify-content-end pr-5">
            {% if app.user %}
                <a href="{{ path('articles_new', {'journal': journaux.id}) }}" class="btn btn-success mr-3">
                    Ajouter une page
                </a>
                <a href="{{ path('journaux_edit', {'id': journaux.id}) }}" class="btn btn-primary mr-3">
                    Editer les informations de ce journal
                </a>
                {% for role in app.user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                        {{ include('journaux/_delete_form.html.twig') }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </main>

    <a href="{{ path('journaux_index') }}">Liste des journaux</a>


{% endblock %}
