{% extends 'base.html.twig' %}

{% block title %}Demander un accès{% endblock %}

{% block body %}
    <main class="container p-3">
    <h1 class="h3 mb-3 font-weight-normal mx-auto">Merci de vous inscrire</h1>
    {{ form_start(registrationForm) }}
        <div class="row p-1">
            <div class="col-4 text-right">
                {{ form_label(registrationForm.email)}}
            </div>
            <div class="col-4">
                {{ form_widget(registrationForm.email)}}
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4 text-right">
                {{ form_label(registrationForm.plainPassword) }}
            </div>
            <div class="col-4">
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4 text-right">
                {{ form_label(registrationForm.firstname) }}
            </div>
            <div class="col-4">
                {{ form_widget(registrationForm.firstname) }}
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4 text-right">
                {{ form_label(registrationForm.name) }}
            </div>
            <div class="col-4">
                {{ form_widget(registrationForm.name) }}
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4 text-right">
                {{ form_label(registrationForm.link) }}
            </div>
            <div class="col-4">
                {{ form_widget(registrationForm.link) }}
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4 text-right">
                {{ form_widget(registrationForm.agreeTerms) }}
            </div>
            <div class="col-4">
                {{ form_label(registrationForm.agreeTerms) }}
            </div>
        </div>
        <div class="row justify-content-center p-1">
            <button class="btn btn-lg btn-success" type="submit">
                S'enregistrer
            </button>
        </div>
    {{ form_end(registrationForm) }}
    </main>
{% endblock %}
