{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main class="article mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <a href="{{ path('journaux_show', {'id': article.journal.id}) }}" class="btn btn-success mb-3">Sommaire de ce journal</a>
                    <img src="{{ asset('images/encrier.png') }}" alt="Encrier" id="encrier" />
                </div>
                <div class="col-md-8 col-sm-12 fond-paper">
                    <h2 class="text-center pt-4">
                        {{ trans_day_hash[article.jour|date('l')] }}
                        {{ article.jour ? article.jour|date('j') : '' }}
                        {{ trans_month_hash[article.jour|date('F')] }}
                        {{ article.jour ? article.jour|date('Y') : '' }}
                    </h2>
                    <p class="text-article pt-3 pr-5 pl-5">
                        {{ article.contenu |nl2br }}
                    </p>
                </div>
                <div class="col-md-2">
                    {% if app.user %}
                    <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-dark mt-3">
                        Modifier le texte
                    </a>
                        {% for role in app.user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                {{ include('articles/_delete_form.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <img src="{{ asset('images/porte-plume.png') }}" alt="Porte-Plume" id="porteplume" />
                </div>
            </div>
            <div class="row justify-content-center my-3">
                {% if article.ajouteur %}
                <p class="text-center">
                    Article ajouté par {{ article.ajouteur.firstname}} {{ article.ajouteur.lastname}} le {{ article.ajoutdate|date("d/m/Y") }}
                    {% if article.modifdate %}
                        ,<br>édité par Sylvain Masson le {{ article.modifdate|date("d/m/Y") }}
                    {% endif %}
                    .</p>
                {% endif %}
            </div>
        </div>
        <div id="scroll_to_top">
            <a href="#top"><img src="{{ asset('images/scrolltop.png') }}" alt="Retourner en haut" /></a>
        </div>
    </main>

{% endblock %}
