{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main class="article mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <a href="{{ path('journaux_show', {'id': article.journal.id}) }}">
                        {% if article.journal.couleur == null %}
                            <img src="{{ asset('images/retour-carnet-noir.png') }}" title="Sommaire du journal" alt="Sommaire de ce journal" class="icon-nav-sommaire" />
                        {% elseif article.journal.couleur == "vert" %}
                           <img src="{{ asset('images/retour-carnet-vert.png') }}" title="Sommaire du journal" alt="Sommaire de ce journal" class="icon-nav-sommaire" />
                         {% elseif article.journal.couleur == "rouge" %}
                           <img src="{{ asset('images/retour-carnet-rouge.png') }}" title="Sommaire du journal" alt="Sommaire de ce journal" class="icon-nav-sommaire" />
                         {% elseif article.journal.couleur == "bleu" %}
                           <img src="{{ asset('images/retour-carnet-bleu.png') }}" title="Sommaire du journal" alt="Sommaire de ce journal" class="icon-nav-sommaire" />
                         {% else  %}
                           <img src="{{ asset('images/retour-carnet-noir.png') }}" title="Sommaire du journal" alt="Sommaire de ce journal" class="icon-nav-sommaire" />
                        {% endif %}
                    </a>
                    <img src="{{ asset('images/encrier.png') }}" alt="Encrier" id="encrier" />
                </div>
                <div class="col-md-8 col-sm-12 fond-paper">
                    {% if previous %}
                    <a href="{{ path('articles_show', {'id': previous.id}) }}">
                        <img src="{{ asset('images/fleche-retour.png') }}" alt="Jour précédent" class="icon-nav-gauche" />
                    </a>
                    {% endif %}
                    {% if next %}
                    <a href="{{ path('articles_show', {'id': next.id}) }}">
                        <img src="{{ asset('images/fleche-suivant.png') }}" alt="Jour suivant" class="icon-nav-droite" />
                    </a>
                    {% endif %}
                    <h2 class="text-center pt-4">
                        {{ trans_day_hash[article.jour|date('l')] }}
                        {{ article.jour ? article.jour|date('j') : '' }}
                        {{ trans_month_hash[article.jour|date('F')] }}
                        {{ article.jour ? article.jour|date('Y') : '' }}
                    </h2>
                    <p class="text-article pt-3 pr-5 pl-5 pb-5">
                        {{ article.contenu |nl2br }}
                    </p>
                    <div class="row justify-content-center mb-5" id="documents">
                        {% for document in article.documents %}
                                {% set extension = document.file|split('.')|last %}
                                {% if extension == "pdf" %}
                                    <a href="{{ path('documents_show', {'id': document.id, 'pdf': 'pdf'}) }}">
                                        <img src="{{ asset('images/pdf.png') }}" alt="Document du journal" class="miniature" />
                                    </a>
                                {% else %}
                                    <a href="{{ path('documents_show', {'id': document.id}) }}">
                                        <img src="{{ asset('documents/' ~ document.file) |imagine_filter('square') }}" alt="Document du journal" class="miniature" />
                                    </a>
                                {% endif %}
                        {% endfor %}
                    </div>
                    {% if previous %}
                        <a href="{{ path('articles_show', {'id': previous.id}) }}">
                            <img src="{{ asset('images/fleche-retour.png') }}" alt="Jour précédent" class="icon-nav-gauche-bas" />
                        </a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('articles_show', {'id': next.id}) }}">
                            <img src="{{ asset('images/fleche-suivant.png') }}" alt="Jour suivant" class="icon-nav-droite-bas" />
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-2 p-3">
                    {% if app.user %}
                        {% for doc in article.documents %}
                            {% if loop.first %}
                                <a href="#documents">{{ loop.length }} document(s)</a>
                            {% endif %}
                        {% endfor %}
                        {% for com in article.commentaires %}
                            {% if loop.first %}
                                <br><a href="#com">{{ loop.length }} commentaire(s)</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <img src="{{ asset('images/porte-plume.png') }}" alt="Porte-Plume" id="porteplume" />
                    {% if app.user %}
                        <a href="{{ path('documents_new', {'article': article.id}) }}" class="btn btn-success mt-3">
                            Attacher des documents
                        </a><br>
                        <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-dark mt-3">
                            Modifier le texte
                        </a>
                        {% if is_granted('ROLE_ADMIN') or article.ajouteur == app.user %}
                            {{ include('articles/_delete_form.html.twig') }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-2">
                </div>
                <div class="col-md-7">
                <p class="text-center">Texte écrit par
                {% if article.auteur %}
                    {{ article.auteur }}
                    {% else %}
                    Geneviève Masson
                {% endif %}
                    <br>
                {% if article.ajouteur %}
                <p class="text-center">
                    Article ajouté par {{ article.ajouteur.firstname}} {{ article.ajouteur.lastname}} le {{ article.ajoutdate|date("d/m/Y") }}
                    {% if article.modifdate %}
                        ,<br>édité par {{ article.modifieur.firstname}} {{ article.modifieur.lastname}} le {{ article.modifdate|date("d/m/Y") }}
                    {% endif %}
                </p>
                {% endif %}
                </p>
                </div>
                <div class="col-md-1">
                    {% if coeur == true %}
                    <a href="{{ path('articles_show', {'id': article.id, 'fav': false}) }}">
                        <img src="{{ asset('images/coeur-rose.png') }}" alt="Enlever des favoris" class="icon-coeur" />
                    </a>
                    {% else %}
                        <a href="{{ path('articles_show', {'id': article.id, 'fav': true}) }}">
                            <img src="{{ asset('images/coeur.png') }}" alt="Mettre en favori" class="icon-coeur" />
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row border-top border-secondary p-3">
                <div class="col-md-2" id="com">
                    Commentaires
                </div>
                <div class="col-md-8 pl-2 pt-2">
                    {% for commentaire in article.commentaires %}
                        <div class="pl-3 pr-3 fond-paper m-2">
                            Message de {{ commentaire.auteurcom.firstname }} écrit le {{ commentaire.datecom|date("d/m/Y") }}
                        <p class="text-article pt-3">{{ commentaire.com|nl2br }}
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            {{ include('commentaires/_delete_form.html.twig') }}
                            {% endif %}
                        </p>
                        </div>
                    {% endfor %}
                    <div class="pl-2 pr-2">
                    Ajouter un commentaire :
                    {{ form_start(form) }}
                    {{ form_widget(form.com, {'attr': {'class': 'com'}}) }}
                    <button class="btn btn-success">{{ button_label|default('Poster') }}</button>
                    {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div id="scroll_to_top">
            <a href="#top"><img src="{{ asset('images/scrolltop.png') }}" alt="Retourner en haut" /></a>
        </div>
    </main>

{% endblock %}
