{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main class="article mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <a href="{{ path('journaux_show', {'id': article.journal.id}) }}">
                        <img src="{{ asset('images/retour-sommaire.png') }}" alt="Sommaire de ce journal" class="icon-nav-sommaire" />
                    </a><br>
                    <img src="{{ asset('images/encrier.png') }}" alt="Encrier" id="encrier" />
                </div>
                <div class="col-md-8 col-sm-12 fond-paper">
                    {% if previous %}
                    <a href="{{ path('articles_show', {'id': previous.id}) }}">
                        <img src="{{ asset('images/fleche-retour.png') }}" alt="Jour précédent" class="icon-nav-gauche" />
                    </a>
                    {% endif %}
                    {% if next %}
                    <a href="{{ path('articles_show', {'id': next.id}) }}">
                        <img src="{{ asset('images/fleche-suivant.png') }}" alt="Jour suivant" class="icon-nav-droite" />
                    </a>
                    {% endif %}
                    <h2 class="text-center pt-4">
                        {{ trans_day_hash[article.jour|date('l')] }}
                        {{ article.jour ? article.jour|date('j') : '' }}
                        {{ trans_month_hash[article.jour|date('F')] }}
                        {{ article.jour ? article.jour|date('Y') : '' }}
                    </h2>
                    <p class="text-article pt-3 pr-5 pl-5 pb-5">
                        {{ article.contenu |nl2br }}
                    </p>
                    {% if previous %}
                        <a href="{{ path('articles_show', {'id': previous.id}) }}">
                            <img src="{{ asset('images/fleche-retour.png') }}" alt="Jour précédent" class="icon-nav-gauche-bas" />
                        </a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('articles_show', {'id': next.id}) }}">
                            <img src="{{ asset('images/fleche-suivant.png') }}" alt="Jour suivant" class="icon-nav-droite-bas" />
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <img src="{{ asset('images/porte-plume.png') }}" alt="Porte-Plume" id="porteplume" />
                    {% if app.user %}
                    <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-dark mt-3">
                        Modifier le texte
                    </a>
                        {% for role in app.user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                {{ include('articles/_delete_form.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-2">
                </div>
                <div class="col-md-7">
                <p class="text-center">Texte écrit par
                {% if article.auteur %}
                    {{ article.auteur }}
                    {% else %}
                    Geneviève Masson
                {% endif %}
                    <br>
                {% if article.ajouteur %}
                <p class="text-center">
                    Article ajouté par {{ article.ajouteur.firstname}} {{ article.ajouteur.lastname}} le {{ article.ajoutdate|date("d/m/Y") }}
                    {% if article.modifdate %}
                        ,<br>édité par {{ article.modifieur.firstname}} {{ article.modifieur.lastname}} le {{ article.modifdate|date("d/m/Y") }}
                    {% endif %}
                </p>
                {% endif %}
                </p>
                </div>
                <div class="col-md-1">
                    {% if coeur == true %}
                    <a href="{{ path('articles_show', {'id': article.id, 'fav': false}) }}">
                        <img src="{{ asset('images/coeur-rose.png') }}" alt="Enlever des favoris" class="icon-coeur" />
                    </a>
                    {% else %}
                        <a href="{{ path('articles_show', {'id': article.id, 'fav': true}) }}">
                            <img src="{{ asset('images/coeur.png') }}" alt="Mettre en favori" class="icon-coeur" />
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row border p-3">
                <div class="col-md-2">
                    Commentaires
                </div>
                <div class="col-md-8 fond-paper p-2">
                    {% for commentaire in article.commentaires %}
                        <p class="text-secondary">
                            Message de {{ commentaire.auteurcom.firstname }} écrit le {{ commentaire.datecom|date("d/m/Y") }}
                        </p>
                        <p class="text-article">{{ commentaire.com }}</p>
                    {% else %}
                        Aucun commentaire sur cette page, ajoutez-en un !
                    {% endfor %}
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    Ajouter un commentaire :
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div id="scroll_to_top">
            <a href="#top"><img src="{{ asset('images/scrolltop.png') }}" alt="Retourner en haut" /></a>
        </div>
    </main>

{% endblock %}
