{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main class="article mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2">
                    <a href="{{ path('journaux_show', {'id': article.journal.id}) }}" class="btn btn-success fixed">Sommaire de ce journal</a>
                    <img src="{{ asset('images/encrier.png') }}" alt="Encrier" id="encrier" />
                </div>
                <div class="col-8 fond-paper">
                    <h2 class="text-center pt-4">
                        {{ trans_day_hash[article.jour|date('l')] }}
                        {{ article.jour ? article.jour|date('j') : '' }}
                        {{ trans_month_hash[article.jour|date('F')] }}
                        {{ article.jour ? article.jour|date('Y') : '' }}
                    </h2>
                    <p class="text-article pt-3 pr-5 pl-5">
                        {{ article.contenu |nl2br }}
                    </p>
                </div>
                <div class="col-2">
                    {% if app.user %}
                    <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-dark">
                        Modifier le texte de cette page
                    </a>
                    {% endif %}
                    <img src="{{ asset('images/porte-plume.png') }}" alt="Porte-Plume" id="porteplume" />
                </div>
            </div>
        </div>
        <div id="scroll_to_top">
            <a href="#top"><img src="{{ asset('images/scrolltop.png') }}" alt="Retourner en haut" /></a>
        </div>
    </main>

{% endblock %}
