<h1>Bonjour {{ email.toName }}!</h1>

<p>
    Un utilisateur a demandé de s'inscrire au Journal de Maman.
    Il s'agit de :
    - {{ user.firstname }} {{ user.name }}
    - mail : {{ user.email }}
    - Lien : {{ user.link }}
    - Pass : {{ user.password }}
</p>
<p>
    L'utilisateur doit être approuvé sur me panel d'administration :
    http://journal.jejoueenclasse.fr/admin/
</p>
--
Jean-Roch