<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker|Bebas+Neue&display=swap"
              rel="stylesheet">
        <title>{% block title %}Le journal de Maman{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a href="{{ path('index') }}" class="navbar-brand">Le Journal de Maman</a>
                <img src="{{ asset('images/fleur-de-lys.png') }}" title="Fleur de Lys" style="height: 30px;">

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{{ path('journaux_index') }}" class="pr-5 pl-5 nav-item nav-link active">Les journaux</a>
                        <a href="{{ path('articles_index') }}" class="pr-5 nav-item nav-link active">Au jour le jour</a>
                        {% if app.user %}
                            {% if is_granted('ROLE_LECTOR') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('documents_index') }}" class="pr-5 nav-item nav-link active">En images</a>
                                <a href="{{ path('last') }}" class="pr-5 nav-item nav-link active">Nouveautés</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_index') }}" class="pr-5 nav-item nav-link active">admin</a>
                            {% endif %}
                            <a href="{{ path('user_show', {id: app.user.id}) }}" class="pr-5 nav-item nav-link active">{{ app.user.firstname }}</a>
                            {% if is_granted('ROLE_LECTOR') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('search') }}" class="nav-item nav-link active">
                                    <img src="{{ asset('images/loupe.png') }}" title="Recherche" style="height: 25px;">
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="nav-item nav-link active">Se connecter</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% if app.user %}
            {% if not is_granted('ROLE_LECTOR') %}
                <div class="alert alert-danger text-center">
                    Votre compte est en attente de validation, vous ne pouvez pas encore lire le journal...<br>
                    Un mail vous préviendra de l'activation de votre compte.
                </div>
            {% endif %}
            {% else %}
                <div class="alert alert-danger text-center">
                    Un compte est obligatoire pour lire le journal :
                    <a href="{{ path('app_register') }}">
                        faites la demande
                    </a>
                     ou
                    <a href="{{ path('app_login') }}">
                        connectez-vous !
                    </a>
                </div>
        {% endif %}
    {% endblock %}
    {% set trans_day_hash = {
        "Monday": "Lundi",
        "Tuesday": "Mardi",
        "Wednesday": "Mercredi",
        "Thursday": "Jeudi",
        "Friday": "Vendredi",
        "Saturday": "Samedi",
        "Sunday": "Dimanche"
    }
    %}
    {% set trans_month_hash = {
        "January": "janvier",
        "February": "février",
        "March": "mars",
        "April": "avril",
        "May": "mai",
        "June": "juin",
        "July": "juillet",
        "August": "août",
        "September": "septembre",
        "October": "octobre",
        "November": "novembre",
        "December": "décembre",
    } %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="mt-5 footer">
                <div class="container text-center">
                    <div class="text-center">© 2020-{{ "now" | date("Y") }} -
                        <a href="http://www.jejoueenclasse.fr" target="_blank"> Jyaire</a>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
