{% extends 'base.html.twig' %}

{% block title %}Le journal de Maman{% endblock %}

{% block body %}
    <main class="index">
        <h1 class="p-3">Bienvenue sur le journal de Maman</h1>
        <div class="row">
            <div class="offset-1 col-9">
                <p class="text-presentation">
                    Maman a écrit son journal de bord de 1955 à 2014. <br>Cette plateforme
                    a pour but de partager à la famille proche et de numériser tous ses écrits.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 m-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Consulter les journaux</h5>
                        <p class="card-text">De 1955 à 2016</p>
                        <a href="{{ path('journaux_index') }}" class="btn btn-primary">Journaux</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Lire au jour le jour</h5>
                        <p class="card-text">Une page à la fois...</p>
                            <a href="{{ path('articles_index') }}" class="btn btn-warning">Lire une page</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Statistiques</h5>
                        <p>{{ totalJournaux }} journaux<br>
                        {{ totalArticles }} pages<br>
                        {{ totalContribs }} contributeurs</p>
                    </div>
                </div>
            </div>
            {% if app.user %}
            {% if app.user.roles[0] == "ROLE_LECTOR" or app.user.roles[0] == "ROLE_ADMIN" %}
                <div class="col-sm-3 m-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Trouver du contenu</h5>
                            <p class="card-text">Recherche sur toutes les pages</p>
                            <a href="{{ path('search') }}" class="btn btn-dark">Chercher</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            <div class="col-sm-3 m-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Contributeurs</h5>

                        {% for contrib in contribs %}
                            {% if contrib.ajouts|length > 1 %}
                                {{ contrib.firstname }} : {{ contrib.ajouts|length }} pages<br>
                            {% elseif contrib.ajouts|length == 1 %}
                                {{ contrib.firstname }} : {{ contrib.ajouts|length }} page<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if app.user %}
                {% if app.user.roles[0] == "ROLE_LECTOR" or app.user.roles[0] == "ROLE_ADMIN" %}
                    <div class="col-sm-3 m-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Ajouter une page au journal</h5>
                                <p class="card-text">Une page à la fois...</p>
                                <a href="{{ path('articles_new') }}" class="btn btn-success">Ajouter</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </main>
{% endblock %}