{% extends 'base.html.twig' %}

{% block title %}Nouveautés - Le journal de Maman{% endblock %}

{% block body %}
    <main class="index">

        <div class="row justify-content-center m-3">
        
            <div class="col-12 col-md-5">
                <h2>10 dernières pages</h2>
                <ul>
                    {% for article in lastArticles %}
                        <li>
                            {% set difference = date().diff(date(article.ajoutdate)) %}
                            {% set leftDays = difference.days %}
                            <a href="{{ path('articles_show', {'id': article.id}) }}">
                                {{ trans_day_hash[article.jour|date('l')] }}
                                {{ article.jour ? article.jour|date('j') : '' }}
                                {{ trans_month_hash[article.jour|date('F')] }}
                                {{ article.jour ? article.jour|date('Y') : '' }}
                            </a>
                            , ajouté par {{ article.ajouteur.firstname }} 
                            {% if leftDays == 0 %}
                                aujourd'hui
                            {% elseif leftDays == 1 %}
                                hier
                            {% else %}
                                il y a {{ leftDays}} jours
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="col-12 col-md-7">
                <h2>4 derniers commentaires</h2>
                <ul>
                    {% for comment in lastCommentaires %}
                        <li>
                        {{ comment.auteurcom.firstname }}, le {{ comment.datecom |date('d/m/Y') }} : 
                        {{ comment.com | slice(0, 50) }} ... 
                        [<a href="{{ path('articles_show', {'id': comment.article.id}) }}#com">lire l'article</a>]
                        </li>
                    {% endfor %}
                </ul>
                <h2>6 derniers documents</h2>
                {% for document in lastDocuments %}
                    <a href="{{ path('documents_show', {'id': document.id}) }}">
                        <img src="{{ asset('documents/' ~ document.file) |imagine_filter('smallsquare') }}" alt="Document du journal" class="small-miniature" />
                    </a>
                {% endfor %}
            </div>

            <div class="col-12">
                <h2>Dernières nouveautés</h2>
                <ul>
                    <li>
                        21/02/2021 : il n'est plus possible d'ajouter des PDF à une page du journal, les photos étant plus visuelles.
                    </li>
                    <li>
                        21/02/2021 : il n'est plus possible d'ajouter une page de journal dont la date existe déjà.
                    </li>
                    <li>
                        21/02/2021 : celui qui ajoute une page peut désormais la supprimer, en cas d'erreur ou de doublon.
                    </li>
                    <li>
                        16/02/2021 : Ajout d'une page avec les miniatures pour voir les images de tous les journaux.
                    </li>
                </ul>
            </div>

        </div>
    </main>
{% endblock %}