{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.name }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row p-4">
            <div class="col-8">
                <h1>Profil de {{ user.firstname }} {{ user.name }}</h1>
            </div>
            <div class="col-4 text-right">
                <a href="{{ path('app_logout')}}" class="btn btn-danger">Déconnexion</a>
            </div>
        </div>
        <div class="row p-3">
            <div class="offset-2 col-3 text-right marker">
                Prénom :
            </div>
            <div class="col-5 lead">
                {{ user.firstname }}
            </div>
        </div>
        <div class="row p-3">
            <div class="offset-2 col-3 text-right marker">
                Nom :
            </div>
            <div class="col-5 lead">
                {{ user.lastname }}
            </div>
        </div>
        <div class="row p-3">
            <div class="offset-2 col-3 text-right marker">
                Email :
            </div>
            <div class="col-5 lead">
                {{ user.email }}
            </div>
        </div>
        <div class="row p-3">
            <div class="offset-2 col-3 text-right marker">
                Lien familial à maman :
            </div>
            <div class="col-5 lead">
                {{ user.link }}
            </div>
        </div>
        <div class="row p-3">
            <div class="offset-2 col-3 text-right marker">
                Statut du compte :
            </div>
            <div class="col-2 lead">
                {% if user.isValidated == false %}
                <p class="bg-warning p-1">En attente</p>
                {% else %}
                <p class="bg-success p-1">Validé</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
